/* Colores:
 * 
 * celeste  : #cce3f4
 * amarillo : #efdd68
 * verde    : #bfe05f
 * 
 */
.split-pane {
    -fx-border-color: rgb(255,255,255);
}

.menu .partida {
    -fx-image: url("/img/partida.png");
}

.menu:hover .partida, .menu:showing .partida { 
    -fx-image: url("/img/partida_seleccionado.png");
}

.menu-item .salir {
    -fx-image: url("/img/salir.png");
}

.menu-item:hover .salir, .menu-item:focused .salir {
    -fx-image: url("/img/salir_seleccionado.png");
}

.menu .ayuda {
    -fx-image: url("/img/ayuda.png");
}

.menu:hover .ayuda, .menu:showing .ayuda { 
    -fx-image: url("/img/ayuda_seleccionado.png");
}

.menu-item .documentacion {
    -fx-image: url("/img/documentacion.png");
}

.menu-item:hover .documentacion, .menu-item:focused .documentacion {
    -fx-image: url("/img/documentacion_seleccionado.png");
}

.scroll-pane.panelMarcoInformes > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane.panelMarcoInformes {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.informe .label.nombre {
    -fx-font-weight: normal;
}

.informe #nombre {
    -fx-font-weight: bold;
}

.informe .progress-bar > .bar {
    -fx-background-color: linear-gradient(to bottom, derive(#00AA22FF, -15%), #00AA22FF, derive(#00AA22FF, 30%), #00AA22FF, derive(#00AA22FF, -15%));
}

.informe .label.seccion {
    -fx-font-weight: bold;
    -fx-font-size: 0.8em;
    -fx-padding: 3 0 3 0;
    -fx-text-alignment: right;
    -fx-alignment: baseline-right;
}

.informe .text-field.valorNumero {
    -fx-padding: 2 5 2 5;
    -fx-alignment: baseline-right;
    -fx-max-width: 50px;
}

.informe .button.explicacion {
    -fx-padding: 3px;
    -fx-graphic: url("/img/pregunta.png");
}